.cartProduct-main-div {
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
    align-items: center;
}

.nav-line{
    height: 8px;
    width: 100%;
    border-top: 1px solid #3a4553 !important ;
    margin-top: 10px;
}

.cartImage{
    width: 50%;
}

.cartImage > img{
    max-width: 500px;
    max-height: 500px;
    object-fit: contain;
    margin-bottom: 15px;
}

.cartProductDetails{
    padding-left: 20px
    
}

.cartProductDetails > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}



.Product-title {
    font-size: 25px;
    font-weight: 700;
}