.m-image {
    width: 100%;
    height: 89vh;
    z-index: -1;
}

.form-posi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #116466;
}   

.form-select {
    width: auto !important;
}