.body{
    background-color: rgb(234, 248, 242);
    height: 100vh;
}

.login {
    position: relative;
    top: 6rem;
}

.register {
    position: relative;
    top: 3rem;
}

.container {
    width: 35%;
    background-color: rgb(77, 74, 87);
}

h4 {
    font-family: 'Parisienne', cursive;
}

h4,h5 {
    color: mintcream;
}

input,select {
    min-height: 40px;
    border-radius: 0% !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.border{
    border: 3px solid rgb(135, 134, 196) !important;
    border-radius: 10px;
    padding: 5px 5px 5px;
    box-shadow: 4px 4px 4px rgb(156 175 181);;
}

.form-group {
    padding: 5px 5px;
    width: 75%;
}

.user-icon {
    padding: 6px;
    width: 50px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    background-color: lightblue;
}

.f-pwd {
    color: powderblue;
}

.btn-color{
    background-color: #51ffd6 !important;
    color: rgb(48, 40, 40);
}

.btn:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
  }
  
.btn:before {
    background: linear-gradient(
      120deg,
      transparent,
      rgba(146, 148, 248, 0.4),
      transparent
    );
    transition: all 650ms;
}
  
.btn:hover:before {
    left: 100%;
}
  

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="container"] {
      width: 100%;
    }
  }