.menu-picture{
  width: 87.6%;
  height: 300px;
}

.h {
    max-height: 25rem;
  }
  
  .card-color{
    background-color: lightgray;
  }

  
.card {
    width: 24rem;
}

.title {
  color: rgb(73, 103, 158);
}