.subtotal-main-div {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
  }

  .formIcon {
    padding: 6px;
    width: 50px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    background-color: rgba(179, 180, 105, 0.918);
  }
  
  .orderButton {
    background: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
  }
  